<!DOCTYPE html>

<style>
</style>

<div class="container containerBorder">
    <div class="createArticleBox">
        <center><h1 id="articleTitle" class="formTitle"></h1></center>
    </div>

    <div>
        <h2 id="articleSumary" class="articleSummary"></h2>
    
        <div id="article-author-date">
            <div id="article-author">
                <h3>Auteur :</h3> <a id="article-author-firstName"></a> <a id="article-author-middleName"></a> <a id="article-author-lastName"></a>
                <h3>Publié le :</h3>
            </div>
    
            <div id="article-author">
                <!--Span here-->
            </div>
    
            <div id="article-date"><!--Span here--></div>
            <div id="article-update"><!--Span here--></div>
        </div>
            <div id="articlePublish">statut publication : </div>
        </div>
    
        <div id="articleContent"></div>

</div>

<!--
<div class="article" id="articlePage">
    <h1 id="articleTitle"  class="formTitle"></h1>


    <div id="editArticle"></div>
    <div id="removeArticle"></div>
    <div id="validateEdit" hidden>
        button edit
    </div>

    <div>
    <h2 id="articleSumary" class="articleSummary"></h2>

    <div id="article-author-date">
        <div id="article-author">
            <h3>Auteur :</h3> <a id="article-author-firstName"></a> <a id="article-author-middleName"></a> <a id="article-author-lastName"></a>
        </div>

        <div id="article-author">
            Span here
        </div>

        <div id="article-date">Span here</div>
        <div id="article-update">Span here</div>
    </div>
        <div id="articlePublish">statut publication : </div>
    </div>

    <div id="articleContent"></div>
</div>
-->