<!DOCTYPE html>
<div class="container">
    <form id="createArtcileForm">
        <center><h1 class="formTitle">Creer votre article</h1></center>
        <fieldset class="inputs">
            <div>
                <input id="articleTitle" placeholder="Titre de l'article" type="text" class="validate" required>
            </div>
            <div>
                <input id="articleMeta" placeholder="Meta description" type="text" class="validate" required>
            </div>
            <div>
                <input id="articleSummary" placeholder="Resumé de l'article" type="text" class="validate" required>
            </div>
            <div>
                <input id="articleContent" placeholder="Article contenue" type="textarea" class="validate" required>
            </div>
            <div>
                <label for="published">Publié l'article</label>
                <select name="articlePublished" id="articlePublished">
                    <option value="">--Choisir une option--</option>
                    <option value="unpublish">Non publié</option>
                    <option value="publish">Publié</option>
                </select>
            </div>
        </fieldset>
    </form>




<!--
title

meta

summary

published

content
-->