<!DOCTYPE html>
<style>
    #content {
    margin-top: 0.5em;
    /*background-image: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(96, 56, 19), rgb(178, 159, 148)) repeat scroll 0% 0%;*/
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(96, 56, 19), rgb(178, 159, 148)) repeat scroll 0% 0%;
    height: 100%;
    border-top: 3px solid black;
}
   
</style>
<div class="container containerBorder">
    <form id="createArtcileForm" class="createArticleBox">
        <center><h1 class="formTitle">Creer votre article</h1></center>
        <fieldset class="inputs">
            <div>
                <input id="articleTitle" placeholder="Titre de l'article" type="text" class="validate" required>
            </div>
            <div>
                <input id="articleMeta" placeholder="Meta description" type="text" class="validate" required>
            </div>
            <div>
                <input id="articleSummary" placeholder="Resumé de l'article" type="text" class="validate" required>
            </div>
            <div>
                <textarea id="articleContent" placeholder="Article contenu" rows=5 cols=50
                 required class="validate"></textarea>
                 <br/>
                 <a id="words_counted">Mots : </a> <a id="chars_counted">Character : </a>
                 <br/>
                 <a id="articleContentLength"></a>
            </div>
            <div>
                <!--<label for="published">Publié l'article</label>-->
                <select name="articlePublished" id="articlePublished" class="selectinput" required>
                    <option value="" hidden>Choisir une option de publication</option>
                    <option value="unpublish">Ne pas publié</option>
                    <option value="publish">Publié</option>
                </select>
            </div>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit" value="Enregister l'article" class="buttonlg" role="button" onclick="createarticleController.registerArtcile()">
        </fieldset>
    </form>




<!--
title

meta

summary

published

content
-->