<!DOCTYPE html>

<style>
    #content {
        height: 100%;
        margin-top: 0.5em;
        background: #DAE2F8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    /*background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );*/
</style>

<div class="container">
    <form id="loginForm" class="box">
        <h1 id="formTitle" class="formTitle">Se connecter</h1>
        <fieldset class="inputs">
            <!--<legent>Connexion</legent>-->
            <div>
                <!--<label for="fieldLogin" class="active">Adresse e-mail</label>-->
                <input id="fieldLogin" type="email" class="validate" placeholder="Email utilisateur" autofocus required>
            
            </div>
            <div>
                <!--<label for="fieldPassword" class="active">Mot de passe</label>-->
                <input id="fieldPassword" type="password" placeholder="Mot de passe" required>
            </div>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit" value="Se connecter" class="button-41" role="button" onclick="loginController.login()">
            <br>
            <a id="textforgotPwd">Mot de passe oublié?</a><a id="" onclick="navigate('register')">Creer un compte</a>
        </fieldset>
    </form>

</div>
