<!DOCTYPE html>

<div class="container">
    <form id="loginForm" class="box">
        <h1 id="formTitle" class="formTitle">Se connecter</h1>
        <fieldset class="inputs">
            <!--<legent>Connexion</legent>-->
            <div>
                <!--<label for="fieldLogin" class="active">Adresse e-mail</label>-->
                <input id="fieldLogin" type="email" class="validate" placeholder="Email utilisateur" autofocus required>
            
            </div>
            <div>
                <!--<label for="fieldPassword" class="active">Mot de passe</label>-->
                <input id="fieldPassword" type="password" placeholder="Mot de passe" required>
            </div>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit" value="Se connecter" class="button-41" role="button" onclick="loginController.login()">
            <a id="textforgotPwd">Mot de passe oublié?</a><a id="" onclick="navigate('register')">Creer un compte</a>
        </fieldset>
    </form>

</div>
