<!DOCTYPE html>


<div class="container"></div>
    <div>
        <center>
            <h2 class="formTitle">Informations utilisateur</h2>
        </center>
        <table class="table table-striped">
            <thead>
               <tr>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nom utilisateur</td>
                    <td id="cellUser"></td>
                </tr>
                <tr>
                    <td>Prenom</td>
                    <td id="cellFirstName"></td>
                </tr>
                <tr>
                    <td>Deuxième prénom</td>
                    <td id="cellMiddleName"></td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td id="cellLastName"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="cellEmail"></td>
                </tr>
                <tr>
                    <td>Numero mobile</td>
                    <td id="cellMobile"></td>
                </tr>
                <tr>
                    <td>Date de creation</td>
                    <td id="cellRegisteredAt"></td>
                </tr>
                <tr>
                    <td>Derniere connection</td>
                    <td id="cellLastLogin"></td>
                </tr>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
            </tbody>
         </table>
    </div>
